# ========= macOS system =========
.DS_Store

# ========= Python =========
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb

# Virtual environments
.venv/
venv/
env/
*-venv/
airflow-venv/
tweet_env/

# Environment variables
.env
*.env

# ========= Airflow local =========
airflow/logs/
airflow/airflow.db
airflow/*_airflow.cfg

# ========= AWS credentials (nếu bạn có lưu local) =========
.aws/

# ========= IDE / Editors =========
.idea/
.vscode/

# ========= Jupyter =========
.ipynb_checkpoints/

# ========= Logs & temp =========
*.log
*.tmp
*.swp